
	.form-area
	{
		width : 800px;
		margin: 45px 160px 60px;
		padding-left : 20px;
		border: 0px solid GREY;
	}
	form
	{
		float : center;
		margin-top : 60px;
	}
	#blah
	{
		width : 250px;
		height : 120px;
	}	
	@media only screen and (max-width:480px) and (min-width:320px)
	{
	body
	{
		padding : 0;
		margin : 0;
	}
	td
	{
		width : 100px;
		padding : 0px;
	}
	center
	{
		width : 335px;
		top : 16px;
	}
	.form-area
	{
		width : 300px;
		margin: 45px 0px 0px 0px;
	}
	textarea.form-control
	{
		width : 338px;
		height : 210px;		
	}
	.btn, .btn-primary, .pull-right
	{
		position : relative;
		width : 200px;
	}
	#m-blank
	{
		display : none;
	}
  }